/*
Template Name: Wrapkit
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/*==============================================================
 You can write your style here and overwrite our style
 ============================================================== */
.bg-blue-gradient {
    background-image: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );
}

.header12 .h12-topbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.header12 .h12-topbar .navbar .nav-item .nav-link {
    color: #e7e7e7;
    border-right: 1px solid rgba(255, 255, 255, 0.13);
}

.header12 .h12-topbar .navbar .nav-item .nav-link:first-child{
    border-left: 1px solid rgba(255, 255, 255, 0.13);
}

.header12 .h12-nav .navbar-nav .nav-item .nav-link {
    color: #e7e7e7;
}

.attachment{
    width: 100% !important;
    height: auto !important;
    display: inline-block !important;
}
